
@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>
<div>
    <form method="get">
        <input type="submit" value="Credit Card" />
        <input type="submit" value="Bankomat" />
    </form>
</div>

