
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Panel</h2>

<div>
    <p><a class="btn btn-default" href="">Add Customer &raquo;</a></p>
    <p><a class="btn btn-default" href="">Search Customer &raquo;</a></p>
    <p><a class="btn btn-default" href="">Edit Customer &raquo;</a></p>
    <p><a class="btn btn-default" href="http://localhost:4897/Account/Register">Register User Account &raquo;</a></p>
    <p><a class="btn btn-default" href="http://localhost:4897/Customer/CustomerList">Customer List &raquo;</a></p>
</div>
